@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        The title of my web application is Intelligent Cloud Medical Imaging System. This web
        application is a program that provides medical imaging services, primarily for ordinary
        users and administrators. Ordinary users can view exported CT reports and schedule
        CT examinations, as well as send emails and provide feedback. Administrators can
        process various data of ordinary users.
    </p>
</main>