@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Monash University<br />
        FIT5032 Assignment<br />
    </address>

    <address>
        <strong>Name:</strong> Wentao Cai <br />
        <strong>Id:</strong> 33414335 <br />
        <strong>Email:</strong>   <a href="wcai0021@student.monash.edu">wcai0021@student.monash.edu</a><br />
    </address>
</main>